# CODEOWNERS file
# Default owners for all files are the novahub maintainers
*         @novaeco-tech/maintainers-enabler-novahub

# Service-specific overrides
/api/     @novaeco-tech/maintainers-enabler-novahub
/app/     @novaeco-tech/maintainers-enabler-novahub
/website/ @novaeco-tech/maintainers-enabler-novahub
/tests/   @novaeco-tech/maintainers-enabler-novahub